#activities-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto 65px auto; /*Centrer un div*/
    width: 97%; /*Pour controller la largeur => problèmes si auto*/
}

#activities-container h2 {
    margin: 0px 0px 30px 0px;
    font-size: clamp(1.1rem, 1.3vw, 1.2rem);
}

.activities-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.activity-card {
    flex: 1 1 22%;
    max-width: 360px;
    aspect-ratio: 8 / 10; /* hauteur calculée automatiquement pour être proportionnelle à la largeur */
    height: auto;
    background-color: white;    
    border-radius: 20px;
    margin: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0,0,0,0.1)); 
    display: flex;              
    flex-direction: column;
}

.img-activity {
    width: 100%;
    aspect-ratio: 8 / 10;
    object-fit: cover;  /* recadre l’image sans la déformer */
    border-radius: 20px 20px 0px 0px ;
}

.activity-card h3 {
    margin: 15px 0px 15px 15px;
    font-size: clamp(0.7rem, 1.3vw, 0.9rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .activities-list {
        flex-direction: column; /* empile les cards verticalement */
        gap: 20px; /* espace entre les cartes */
    }

    .activity-card {
        width: 100%;
        height: 100px;
        border: 2px solid blue;
    }

    .img-activity {
        width: auto;
        height: 130px;
        object-fit: cover;
        border: 2px solid green;
    }
}