:root{
    --color-blue: #0065FC;
    --color-light-blue: #DEEBFF;
    --color-grey: #D9D9D9;
    --color-light-grey: #F2F2F2;
}

body {
    margin: 0px;
    padding-left: calc(35px + ((100vw - 1024px) * 15 / 416));
    padding-right: calc(35px + ((100vw - 1024px) * 15 / 416));
    font-family: 'Raleway';
    width: auto;
}


/****** Media queries ***********/

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        padding: 0px;
    }
}