:root{
    --color-blue: #0065FC;
    --color-light-blue: #DEEBFF;
    --color-light-grey: #F2F2F2;
}

body {
    padding: 0 35px 0 35px;
    font-family: 'Raleway';
    max-width: 1440px; /* largeur max */
    min-width: 320px; /* largeur min */
    margin: 0 auto;
    background-color: white;
    border: 1px solid red;
}

.link-card {
    text-decoration: none; /* enlève le soulignement */
    color: inherit; /* garde la même couleur de texte que la carte */
    display: flex; /* le lien prend la taille de son contenu (ici la card) */
    flex: 1 1 30%; /* même valeur que .lodging-card */
    max-width: 340px; /* ou ta valeur d'origine */
}


/****** Media queries ***********/

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body {
        padding: 0;
    }
}

@media (max-width: 1024px) {
    * {
        margin: 0px 
    }
}