header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.website-logo {
    width: 61.09px;
    height: 19px;
}

.navigation-menu {
    display: flex;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    gap: 60px;
}

.navigation-link {
    color: black;
    padding: 10px 0; /* pour que la bordure ait un peu de place */
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    width: 50%;
    text-decoration: none;
}

.navigation-link:hover {
    border-top: 3px solid blue;  /* Bordure au-dessus */
    color: blue;
}


/****** Media queries ***********/

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        text-align: center;
    }

    nav {
        width: 100%;
        display: flex;
    }

    .website-logo {
        margin-top: 15px;
    }

    .navigation-menu {
        display: flex;
        padding: 0;
        margin-top: 20px;
        width: 100%;
        gap: 0; /*permet d'enlever le gap qu'il y a sur la version desktop*/
    }

    .navigation-link {
        margin: 0;
        display: block; /*fait que le lien prend toute la largeur disponible dans son parent*/
        width: 50%;
        text-decoration: none;
    }

    .navigation-link:hover {
        border-top: 3px solid transparent;
        border-bottom: 3px solid blue; /* Bordure en-dessous */
        color: blue;
    }
}