#lodging {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* espace horizontal entre lodging-container et popular-container */
}

.lodging-container {
    background-color: var(--color-light-grey);
    border-radius: 20px;
    padding: 10px 20px 20px 20px;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
    width: 65%;
}

.lodging-container h2 {
    font-size: clamp(1rem, 1.3vw, 1.2rem);
}

.lodging-container .line {
    display: flex;
    flex-wrap: wrap; /* permet aux cards de passer à la ligne si pas assez de place */
    gap: 20px;
    margin: 35px 0 25px 0;
}

.lodging-card {
    flex: 1 1 calc(30% - 20px); /* chaque card occupe environ 1/3 de la largeur */
    background-color: white;    
    border-radius: 20px;
    border: 5px solid white;   
    filter: drop-shadow(0 3px 15px rgba(0,0,0,0.1)); 
    display: flex;              
    flex-direction: column;
}

.lodging-card-infos {
    flex: 1;                            
    display: flex;            
    flex-direction: column;   
    justify-content: center;
}

.lodging-card-infos h3 {
    margin: 10px 0 10px 15px;
    font-size: clamp(0.7rem, 1.3vw, 1rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
}

.lodging-card-infos p {
    margin: 0 0 0 15px;
    font-size: clamp(0.6rem, 1.3vw, 0.9rem);
}

.lodging-card-infos span {
    margin: 0;
    font-weight: bold;
    font-size: clamp(0.6rem, 1.3vw, 0.9rem);
}

.lodging-card-infos .card-rating {
    margin: 5px 0 10px 15px;
}

.img-lodging {
    width: 100%;
    height: 130px; /* hauteur fixe */
    object-fit: cover;  /* recadre l’image sans la déformer */
    border-radius: 20px 20px 0 0;
}

.fa-xs.fa-solid.fa-star {
    color: var(--color-blue);
}

.fa-xs.fa-solid.fa-star.neutral-star {
    color: var(--color-light-grey)
}

.lodging-link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.popular-container {
    display: flex;           
    flex-direction: column;  
    border-radius: 20px;
    padding: 10px 20px 0 20px;
    margin: 20px 0 20px 0;
    width: 32%;   
    background-color: var(--color-light-grey);     
}

.popular-container h2 {
    font-size: clamp(1rem, 1.3vw, 1.2rem);
}

.top-popular-card {
    display: flex;
    justify-content: space-between;
}

.fa-solid.fa-chart-line {
    color: var(--color-blue);
    font-size: 20px;
    padding-top: 20px;
}

.popular-card {
    display: flex;           
    align-items: center;     
    background-color: white; 
    margin: 20px 2px 30px 2px;
    border-radius: 20px;     
    filter: drop-shadow(0px 3px 15px rgba(0,0,0,0.1));          
    flex: 1;    
    height: 150px;
}

.img-popular {
    width: 33%;
    height: 136px;
    object-fit: cover;  /* recadre l’image sans la déformer */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
}

.popular-card-infos {
    flex: 1;                
    display: flex;                
    flex-direction: column;
    height: 100%;
}

.popular-card-infos h3 {
    margin: 15px 0 6px 10px;
    font-size: clamp(0.7rem, 1.3vw, 1rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
}

.popular-card-infos p {
    margin-left: 10px;
    font-size: clamp(0.6rem, 1.3vw, 0.9rem);
}

.popular-card-infos span {
    margin: 0;
    font-weight: bold;
    font-size: clamp(0.6rem, 1.3vw, 0.9rem);
}

.popular-card-infos .card-rating {
    margin: auto 0 10px 10px; /*auto car sinon le margin n'est pas le même partout*/
}


/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    #lodging {
        flex-direction: column;
    }

    .lodging-container {
        width: 100%;
    }

    .popular-container {
        width: 95%;
    }

    .all-popular-card {
        margin-top: 5px;
        gap: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-card {
        width: 30%;
    }

    .popular-card-infos h3 {
        font-size: 14px;
    }

    .popular-card-infos p {
        font-size: 13px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    #lodging {
        flex-direction: column;
        margin: 0;
    }

    /* Inverser l'ordre sur mobile */
    .lodging-container {
        order: 2; /* apparait après popular-container */
        width: fit-content;
        margin: 0 auto 0 auto;
        padding: 0 1px 0 1px;
        border-radius: 0; 
        background-color: white;
    }

    .lodging-container h2 {
        font-size: 20px;
        margin-top: 30px;
    }

    .popular-container {
        order: 1; /* apparait avant lodging-container */
        width: 320px; /* prend toute la largeur disponible */
        padding: 0 1px 0 1px;
        margin: 0 auto 0 auto;
        box-sizing: border-box; /* inclut padding dans la largeur */
        border-radius: 0; /* pour que ce soit flush avec le bord */
    }

    /* Pour que les cards soient en colonne */
    .lodging-container .line {
        flex-direction: column;
        width: fit-content;
    }

    .lodging-card {
        width: 295px;
    }

    .lodging-card-infos {
        flex: 1;                            
        display: flex;            
        flex-direction: column;   
        justify-content: center;
    }

    .lodging-card-infos h3 {
        margin: 10px 0 10px 15px;
        font-size: clamp(0.9rem, 1.3vw, 1rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
    }

    .lodging-card-infos p {
        margin-left: 15px;
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    .lodging-card-infos span {
        margin: 0;
        font-weight: bold;
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    .lodging-card-infos .card-rating {
        margin: 5px 0px 10px 15px;
    }

    .popular-container h2 {
        font-size: 20px;
        padding: 15px 0 10px 10px;
    }

    .fa-solid.fa-chart-line {
        color: var(--color-blue);
        font-size: 20px;
        padding: 20px 10px 0 0;
    }

    .all-popular-card {
        flex-direction: column;
        width: fit-content;
    }

    .popular-card {
        width: 295px;
        margin: 10px 10px 10px 10px;
    }

    .popular-card-infos {
        flex: 1;                
        display: flex;                
        flex-direction: column;
        justify-content: space-between;
        height: 155px;
        margin-right: 3px;
    }

    .popular-card-infos h3 {
        margin: 15px 0 6px 10px;
        font-size: clamp(0.9rem, 1.3vw, 1rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
    }

    .popular-card-infos p {
        margin-left: 10px;
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    .popular-card-infos span {
        margin: 0;
        font-weight: bold;
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    .popular-card-infos .card-rating {
        margin: auto 0 15px 10px; 
    }
}