#logo-site {
    width: 61.09px;
    height: 19px;
    padding: 30px 50px 30px 50px;
    border: 2px solid blue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
}

#menu-nav {
    display: flex;
    gap: 68px;
    list-style: none;
    border: 2px solid green;
}