/*GLOBAL*/

:root{
    --color-blue: #0065FC;
    --color-light-blue: #DEEBFF;
    --color-light-grey: #F2F2F2;
}

body {
    font-family: 'Raleway';
    max-width: 1440px; /* largeur max */
    min-width: 320px; /* largeur min */
    margin: 0 auto;
    background-color: white;
}

.link-card {
    text-decoration: none; /* enlève le soulignement */
    color: inherit; /* garde la même couleur de texte que la carte */
    display: flex; /* le lien prend la taille de son contenu (ici la card) */
    flex: 1 1 30%; /* même valeur que .lodging-card */
    max-width: 340px; /* ou ta valeur d'origine */
}


/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 40px 30px;
}

.website-logo {
    width: 61.09px;
    height: 19px;
    margin-top: 25px;
}

.navigation-menu {
    display: flex;
    padding: 0;
    width: 100%;
    gap: 60px;
}

.navigation-link {
    color: black;
    padding: 10px 0; /* pour que la bordure ait un peu de place */
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    width: 50%;
    text-decoration: none;
}

.navigation-link:hover {
    border-top: 3px solid blue;  /* Bordure au-dessus */
    color: blue;
}


/*SEARCH*/

#search {
    margin: 0 30px 0 30px;
}

#search h1 {
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
}

#search p {
    font-size: clamp(0.9rem, 1.3vw, 1.1rem);
}

#search h2 {
    font-size: clamp(1.1rem, 1.3vw, 1.2rem);
}

.search-bars {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.all-elements-search-bars {
    width: 100%;
    display: flex;
}

.fa-solid.fa-location-dot {
    padding: 15px 16px 15px 16px;
    background-color: #F2F2F2;
    color: #000000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: none;
    width: 15%;
    max-width: 15px;
    height: 15px;
}

.search-bars input {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    padding: 12px 26px 12px 26px;
    border-top: 1px solid #F2F2F2; 
    border-bottom: 1px solid #F2F2F2;
    border-left: none;            
    border-right: none; 
    max-width: 70%; /*largeur réduite de l’input*/
    height: 47px;
}

.search-button {
    background-color: #0065FC; 
    color: white;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    border-left: none; /* Pas de bordure à gauche pour la continuité */
    border-radius: 0 15px 15px 0;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 47px;
    max-width: 110px;
    min-width: 80px; /* Pour éviter que le bouton rétrécisse */
}

.search-button .search-button-text {
    display: inline;
    color: white; /* Force la couleur blanche */
}

.search-button .fa-solid.fa-magnifying-glass {
    display: none;
}

.filters {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 10px;
    border: none;
}

.all-filter-buttons {
    display: flex;
    gap: 15px;
}

.filter-button {
    padding: 8px 22px 8px 22px;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    display: inline-flex; /* icône + texte sur la même ligne */
    align-items: center;  /* aligne verticalement */
    white-space: nowrap;  /* empêche le retour à la ligne */
}

.filter-button:hover {
    background-color: var(--color-light-blue);
}

.filter-button span {
    font-size: clamp(0.9rem, 1.3vw, 1rem);
    padding-left: 8px;
    font-weight: bold;
}

.icon-filter {
    width: 20px;
    font-size: 18px;
    color: var(--color-blue);
}

.info {
    display: flex;
    align-items: center;
    gap: 7px;
}

.fa-solid.fa-info {
    color: var(--color-blue);
    font-size: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center; 
    line-height: 20px; /* Aligne l’icône verticalement */
    border-radius: 50%;
    border: 1px solid #F2F2F2;
}


/*LODGING*/

#lodging {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* espace horizontal entre lodging-container et popular-container */
    margin: 0 30px 0 30px;
}

.lodging-container {
    background-color: var(--color-light-grey);
    border-radius: 20px;
    padding: 10px 20px 20px 20px;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
    width: 65%;
}

.lodging-container h2 {
    font-size: 20px;
}

.lodging-container .line {
    display: flex;
    gap: 30px;
    margin: 35px 0 25px 0;
}

.lodging-card {
    flex: 1 1 calc(30% - 20px); /* chaque card occupe environ 1/3 de la largeur */
    background-color: white;    
    border-radius: 20px;
    border: 5px solid white;   
    filter: drop-shadow(0 3px 15px rgba(0,0,0,0.1)); 
    display: flex;              
    flex-direction: column;
}

.lodging-card-infos {
    flex: 1;                            
    display: flex;            
    flex-direction: column;   
    justify-content: center;
}

.lodging-card-infos h3 {
    margin: 10px 0 10px 15px;
    font-size: clamp(0.7rem, 1.3vw, 1rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
}

.lodging-card-infos p {
    margin: 0 0 0 15px;
    font-size: clamp(0.6rem, 1.3vw, 0.9rem);
}

.lodging-card-infos span {
    margin: 0;
    font-weight: bold;
    font-size: clamp(0.6rem, 1.3vw, 0.9rem);
}

.lodging-card-infos .card-rating {
    margin: 5px 0 10px 15px;
}

.img-lodging {
    width: 100%;
    height: 130px; /* hauteur fixe */
    object-fit: cover;  /* recadre l’image sans la déformer */
    border-radius: 20px 20px 0 0;
}

.fa-xs.fa-solid.fa-star {
    color: var(--color-blue);
}

.fa-xs.fa-solid.fa-star.neutral-star {
    color: var(--color-light-grey)
}

.lodging-link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.popular-container {
    display: flex;           
    flex-direction: column;  
    border-radius: 20px;
    padding: 10px 10px 0 10px;
    margin: 20px 0 20px 0;
    width: 32%;   
    background-color: var(--color-light-grey);
}

.popular-container h2 {
    font-size: 20px;
}

.top-popular-card {
    display: flex;
    justify-content: space-between;
}

.fa-solid.fa-chart-line {
    color: var(--color-blue);
    font-size: 20px;
    padding-top: 20px;
}

.all-popular-card {
    display: block;
    margin: 0 auto;
}

.popular-card {
    display: flex; 
    align-items: center;
    background-color: white; 
    margin: 20px 0 25px 0;
    padding-right: 3px;
    border-radius: 20px;     
    filter: drop-shadow(0px 3px 15px rgba(0,0,0,0.1));          
    height: 150px;
    flex: 0 0 auto;
    width: 100%;
}

.img-popular {
    width: 33%;
    height: 136px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
}

.popular-card-infos {
    flex: 1;                
    display: flex;                
    flex-direction: column;
    height: 100%;
}

.popular-card-infos h3 {
    margin: 15px 0 6px 10px;
    font-size: clamp(0.7rem, 1.3vw, 1rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
}

.popular-card-infos p {
    margin-left: 10px;
    font-size: clamp(0.6rem, 1.3vw, 0.9rem);
}

.popular-card-infos span {
    margin: 0;
    font-weight: bold;
    font-size: clamp(0.6rem, 1.3vw, 0.9rem);
}

.popular-card-infos .card-rating {
    margin: auto 0 10px 10px; /*auto car sinon le margin n'est pas le même partout*/
}


/*ACTIVITIES*/

#activities-container {
    display: flex;
    flex-direction: column;
    margin: 50px auto 65px auto; /*pour centrer un div*/
    width: 97%; /*pour controller la largeur => problèmes si auto*/
}

#activities-container h2 {
    margin: 0 0 30px 30px;
    font-size: 20px;
}

.activities-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 30px 0 30px;
}

.activity-card {
    position: relative;
    flex: 1 1 22%;
    max-width: 360px;
    background-color: white;    
    border-radius: 20px;
    filter: drop-shadow(0 3px 15px rgba(0,0,0,0.1)); 
}

.activity-card::before {
  content: "";
  display: block;
  padding-top: 125%; /*8/10 ratio (hauteur = 1.25 × largeur)*/
  /*aucune couleur ni bordure ici : il est invisible*/
}

.img-activity {
    position: absolute; /*se cale sur le parent .activity-card*/
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;  /*recadre l’image sans la déformer*/
    border-radius: 20px 20px 0 0 ;
}

.activity-card h3 {
    position: relative; /*permet d’ajuster le texte dans son propre flux */
    background-color: white; /*fond clair pour séparer du visuel */
    margin: 0; /*supprime la marge par défaut du h3 */
    padding: 15px; /*espace intérieur */
    font-size: clamp(0.5rem, 1.1vw, 0.9rem);
    border-top: 1px solid #F2F2F2; /*petite séparation propre sous l’image */
    border-radius: 0 0 20px 20px;
    z-index: 1; /*s'assure que le texte reste visible au-dessus de tout */
}


/*FOOTER*/

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 30px 0 30px;
    height: 150px;
    background-color: var(--color-light-grey);
}

.footer-card {
    width: 440px;
    height:100%;
    display: flex;              
    flex-direction: column;
}

.footer-card h2 {
    white-space: nowrap; /* Garde sur une seule ligne */
    margin: 15px 0 15px 15px;
    font-size: clamp(0.6rem, 1.3vw, 0.9rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
}

.footer-card ul {
    list-style: none;   /* Enlève les puces */
    padding: 0;         /* Supprime le retrait par défaut */
    margin: 0;
}

.footer-card a {
    text-decoration: none; /* Enlève le soulignement */
    white-space: nowrap; /* Le texte reste sur une seule ligne */
    color: black;
    font-size: clamp(0.5rem, 1.2vw, 0.9rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
    margin: 15px 0 15px 15px;
}

.footer-card li {
    margin-bottom: 10px;
  
}



/****** Media queries ***********/

/* Toute la version tablette */
@media (max-width: 1024px) {
    /*GLOBAL*/
    * {
        margin: 0;
    }

    /*HEADER*/
    header {
        margin-left: 35px;
        margin-right: 35px;
    }

    /*SEARCH*/
    #search {
        margin: 0 35px;
    }

    #search h1 {
        margin-bottom: 5px;
    }

    .search-bars {
        margin: 18px 0 18px 0;
    }

    .filters {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #search p {
        margin-bottom: 8px;
    }

    /*LODGING*/
    #lodging {
        flex-direction: column;
        margin-left: 35px;
        margin-right: 35px;
    }

    .lodging-container {
        width: 100%;
    }

    .lodging-container h2 {
        margin-top: 15px;
        font-size: 20px;
    }

    .popular-container {
        width: 97%;
    }

    .popular-container h2 {
        margin-top: 15px;
        font-size: 20px;
    }

    .all-popular-card {
        margin-top: 5px;
        gap: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-card {
        width: 30%;
        flex: 1;
    }

    .popular-card-infos h3 {
        font-size: 14px;
    }

    .popular-card-infos p {
        font-size: 13px;
    }

    /*ACTIVITIES*/
    #activities-container h2 {
        margin-left: 25px;
    }

    .activities-list {
        gap: 12px; /* espace vertical entre les cartes */
        margin-left: 25px;
        margin-right: 25px;
    }
}


/* Toute la version mobile */
@media (max-width: 767px) {
    /*GLOBAL*/
    body {
        padding: 0;
    }

    /*HEADER*/
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        text-align: center;
    }

    nav {
        width: 100%;
        display: flex;
    }

    .website-logo {
        margin-top: 15px;
    }

    .navigation-menu {
        display: flex;
        padding: 0;
        margin-top: 20px;
        width: 100%;
        gap: 0; /*permet d'enlever le gap qu'il y a sur la version desktop*/
    }

    .navigation-link {
        margin: 0;
        display: block; /*fait que le lien prend toute la largeur disponible dans son parent*/
        width: 50%;
        text-decoration: none;
    }

    .navigation-link:hover {
        border-top: 3px solid transparent;
        border-bottom: 3px solid blue; /* Bordure en-dessous */
        color: blue;
    }

    /*SEARCH*/
    #search {
        margin: 10px;
        padding-left: 10px;
        margin: 0 auto 0 auto;
    }

    .search-bars {
        margin-top: 10px;
        display: flex;
        text-align: center;
        justify-content: flex-start;
    }

    .all-elements-search-bars {
        display: flex;
        position: relative;
    }

    .fa-solid.fa-location-dot {
        background-color: #F2F2F2;
        color: #000000;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        border-left: 1px solid #F2F2F2;
        border-right: none;
    }

    /* Sur mobile : bouton plus petit, icône visible, texte caché */
    .search-button {
        border-radius: 15px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        position: absolute;
        right: 0;
    }

    .search-button .search-button-text {
        display: none; /* Cache le texte */
    }

    .search-button .fa-solid.fa-magnifying-glass {
        display: inline; /* Affiche la loupe */
        width: 17px; /* Taille de l'icône */
        height: 17px;
        color: #ffffff;
    }

    .filters {
        display: flex;
        flex-direction: column; /*le titre passe au-dessus*/
        align-items: flex-start; /*garde l’alignement à gauche*/
        gap: 10px; /*espace entre le titre et les boutons*/
        margin-top: 10px;
    }


    .all-filter-buttons {
        display: grid;
        grid-template-columns: repeat(2, auto); /*2 colonnes automatiques*/
        justify-content: center; /*centre les colonnes dans la page*/
        gap: 10px; /*espace entre les boutons*/
    }

    .icon-filter {
        width: 20px;
    }

    .filter-button span {
        font-weight: bold;
    }

    .info {
        margin: 30px 0 30px 0;
    }

    /*LODGING*/
    #lodging {
        flex-direction: column;
        margin: 0;
    }

    .lodging-container {
        order: 2; /* apparait après popular-container */
        margin: 0 auto 0 auto;
        padding: 0 1px 0 1px;
        border-radius: 0; 
        background-color: white;
    }

    /* Pour que les cards soient en colonne */
    .lodging-container .line {
        flex-direction: column;
    }

    .lodging-card {
        flex: none; 
        max-width: none; /*enlève la limite du desktop*/
    }

    .lodging-card-infos {
        flex: 1;                            
        display: flex;            
        flex-direction: column;   
        justify-content: center;
    }

    .lodging-card-infos h3 {
        margin: 10px 0 10px 15px;
    }

    .lodging-card-infos p {
        margin-left: 15px;
    }

    .lodging-card-infos span {
        margin: 0;
        font-weight: bold;
    }

    .lodging-card-infos .card-rating {
        margin: 5px 0px 10px 15px;
    }

    .popular-container {
        order: 1; /* apparait avant lodging-container */
        padding: 0 1px 0 1px;
        margin: 0 auto 0 auto;
        box-sizing: border-box; /* inclut padding dans la largeur */
        border-radius: 0; /* pour que ce soit flush avec le bord */
    }

    .popular-container h2 {
        padding: 15px 0 10px 10px;
    }

    .fa-solid.fa-chart-line {
        color: var(--color-blue);
        font-size: 20px;
        padding: 20px 10px 0 0;
    }

    .popular-card {
        margin: 10px;
        flex: none; 
        max-width: none; /*enlève la limite du desktop*/
    }

    .popular-card-infos {
        flex: 1;                
        display: flex;                
        flex-direction: column;
        justify-content: space-between;
        height: 155px;
        margin-right: 3px;
    }

    .popular-card-infos h3 {
        margin: 15px 0 6px 10px;
        font-size: clamp(0.9rem, 1.3vw, 1rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
    }

    .popular-card-infos p {
        margin-left: 10px;
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    .popular-card-infos span {
        margin: 0;
        font-weight: bold;
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    .popular-card-infos .card-rating {
        margin: auto 0 15px 10px; 
    }

    /*ACTIVITIES*/
    #activities-container {
        margin: 0 auto 0 auto;
    }

    #activities-container h2 {
        margin: 30px 0 30px 20px;
        font-size: 20px;
    }

    .activities-list {
        display: flex;
        flex-direction: column;
        gap: 15px; /* espace vertical entre les cartes */
    }

    .activity-card { 
        flex: none;
        max-width: 490px; /*enlève la limite de 360px du desktop*/
        height: auto;
        aspect-ratio: auto; /*annule de ratio forcé de 8/10 en desktop*/
    }

    .activity-card::before {
        padding-top: 0; /*supprime le ratio sans supprimer le flux*/
    }

    .img-activity {
        position: static; /* l’image reprend sa place normale */
        width: 490px;
        object-fit: cover;
    }

    .activity-card h3 {
        margin: 0 0 8px 15px;
        border-top: none;
    }

    /*FOOTER*/
    footer {
        flex-direction: column; /* le footer entier passe en colonne */
        height: auto; /* hauteur auto pour s’adapter au contenu */
        align-items: stretch; /* chaque colonne prend toute la largeur */
        margin: 60px auto 0 auto;
        width: 100%;
        max-width: 100%;
    }

    .footer-list {
        flex-direction: column; /* garde tes cartes les unes sous les autres */
        width: 100%;
    }

    .footer-card {
        width: 100%; /* plus de largeur fixe */
        max-width: none;  /* on enlève la limite */
        padding-bottom: 10px;
    }

    .footer-card li {
        margin-left: 20px; 
    }

    .footer-card h2 {
        margin-left: 40px;
    }

    .footer-card a {
        margin-left: 20px;
    }
}


/* La version mobile en dessous de 546px) */
@media (max-width: 546px) {
    /*SEARCH*/
    #search {
        width: fit-content;
    }

    #search h1 {
        width: 300px;
    }

    #search p {
        width: 270px;
    }

    .all-elements-search-bars {
        width: fit-content;
    }

    .fa-solid.fa-location-dot {
        width: 15%;
        max-width: 15px;
        height: 15px;
    }

    .search-bars input {
        max-width: 70%;
        height: 47px;
        font-size: clamp(0.9rem, 1.7vw, 1.3rem);
    }

    .search-button {
        width: 15%; /* Même hauteur que largeur pour un bouton carré */
        height: 47px;
        max-width: 50px;
        min-width: 50px; /* Pour éviter que le bouton rétrécisse */
    }

    .all-filter-buttons {
        width: fit-content;
    }

    .filter-button {
        height: 45px;
        font-size: clamp(0.7rem, 2.5vw, 1rem); /* min = 0.7rem, fluide = 2.5vw, max = 1rem */
        padding: 8px;
        border-radius: 20px;
        width: 135px;
    }

    .icon-filter {
        font-size: 18px;
    }

    .filter-button span {
        font-size: clamp(0.9rem, 1.3vw, 1rem);
        padding-left: 8px;
    }

    /*LODGING*/
    .lodging-container {
        width: fit-content;
    }

    .lodging-container h2 {
        margin-top: 20px;
        font-size: 20px;
    }

    .lodging-container .line {
        width: fit-content;
    }

    .lodging-card {
        width: 295px;
    }

    .lodging-card-infos h3 {
        font-size: clamp(0.9rem, 1.3vw, 1rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
    }

    .lodging-card-infos p {
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    .lodging-card-infos span {
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    .popular-container {
        width: 320px;
    }

    .popular-container h2 {
        font-size: 20px;
    }

    .all-popular-card {
        flex-direction: column;
        width: fit-content;
    }

    .popular-card {
        width: 295px;
    }

    .popular-card-infos h3 {
        font-size: clamp(0.9rem, 1.3vw, 1rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
    }

    .popular-card-infos p {
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    .popular-card-infos span {
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    /*ACTIVITIES*/
    #activities-container {
        width: 320px;
        margin-top: 30px;
    }

    #activities-container h2 {
        font-size: 20px;
    }

    .activities-list {
        width: 320px;
        margin: 0;
        align-items: center;
    }

    .activity-card {
        width: 290px;
        height: auto; /*laisse la carte s’adapter à son contenu*/
        position: relative;
    }

    .activity-card::before {
        content: none; /*pas de hauteur fantôme*/
    }

    .img-activity {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        position: relative; /*ne sort plus du flux */
    }

    .activity-card h3 {
        position: static; /*revient dans le flux normal*/
        padding: 10px;
        margin: 0 0 5px 15px;
        font-size: clamp(0.8rem, 1.3vw, 0.9rem);
    }

    /*FOOTER*/
    .footer-card h2 {
        font-size: 18px;
    }

    .footer-card a {
        font-size: 12px;
    }
}


/* La version mobile entre 547px et 767px */
@media (min-width: 547px) and (max-width: 767px) {
    /*HEADER*/
    .navigation-link {
        font-size: 20px;
    }

    /*SEARCH*/
    #search {
        width: 520px;
    }

    #search h1 {
        width: fit-content;
        font-size: 25px;
    }

    #search p {
        width: fit-content;
        font-size: 17px;
    }

    .all-elements-search-bars {
        width: 500px;
    }

     .fa-solid.fa-location-dot {
        font-size: 23px;
        width: 20%;
        max-width: 28px;
        height: 28px;
    }

    .search-bars input {
        max-width: 85%;
        width: 520px;
        height: 60px;
        font-size: clamp(1.3rem, 1.4vw, 1.4rem);
    }

    .search-button {
        width: 20%; /* Même hauteur que largeur pour un bouton carré */
        height: 60px;
        max-width: 62px;
        min-width: 62px; /* Pour éviter que le bouton rétrécisse */
    }

    .search-button .fa-solid.fa-magnifying-glass {
        font-size: 19px;
    }

    #search h2 {
        font-size: clamp(1.4rem, 1.4vw, 1.5rem);
    }

    .all-filter-buttons {
        width: 520px;
    }

    .filter-button {
        height: 65px;
        padding: 8px;
        border-radius: 28px;
        width: 235px;
    }

    .icon-filter {
        font-size: 26px;
        padding-left: 15px;
    }

    .filter-button span {
        font-size: clamp(1.2rem, 1.3vw, 1.3rem);
        padding-left: 25px;
    }

    /*LODGING*/
    .lodging-container {
        width: 530px;
    }

    .lodging-container h2 {
        margin: 30px 0 0 20px;
        font-size: 25px;
    }

    .lodging-container .line {
        width: 530px;
    }

    .lodging-card {
        width: 495px;
        margin: 0 14px 0 12px;
    }

    .img-lodging {
        height: 260px;
    }

    .lodging-card-infos h3 {
        font-size: clamp(1.3rem, 1.3vw, 1.4rem); /* min = 0.7rem, "fluide" = 1.3% largeur écran, max = 1rem */
    }

    .lodging-card-infos p {
        font-size: clamp(1.2rem, 1.3vw, 1.3rem);
    }

    .lodging-card-infos span {
        font-size: clamp(1.2rem, 1.3vw, 1.3rem);
    }

    .lodging-card-infos .card-rating {
        font-size: clamp(1.2rem, 1.3vw, 1.3rem);
    }

    .lodging-link {
        font-size: clamp(1.1rem, 1.1vw, 1.2rem);
        margin: 20px;
    }

    .popular-container {
        width: 547px;
    }

    .popular-container h2 {
        font-size: 25px;
    }

    .all-popular-card {
        flex-direction: column;
        width: 530px;
    }

    .popular-card {
        width: 505px;
        height: 180px;
    }

    .img-popular {
        height: 166px;
    }

    .popular-card-infos h3 {
        font-size: clamp(1.3rem, 1.3vw, 1.4rem);
    }

    .popular-card-infos p {
        font-size: clamp(1.2rem, 1.3vw, 1.3rem);
    }

    .popular-card-infos span {
        font-size: clamp(1.2rem, 1.3vw, 1.3rem);
    }

    .popular-card-infos .card-rating {
        font-size: clamp(1.2rem, 1.3vw, 1.3rem);
    }

    /*ACTIVITIES*/
    #activities-container {
        width: 100%;
        max-width: 547px;
        margin: 40px auto 0 auto; /*centre le conteneur*/
        padding: 0 20px; /*ajoute du padding pour respirer*/
        box-sizing: border-box; /*inclut le padding dans la largeur*/
    }

    #activities-container h2 {
        font-size: 25px;
    }

    .activities-list {
        width: 100%;
        margin: 0;
        padding-left: 5px;
    }

    .activity-card {
        width: 500px;
        margin-top: 8px;
        padding: 0;
    }

    .img-activity {
        height: 260px;
    }

    .activity-card h3 {
        font-size: clamp(1.2rem, 1.3vw, 1.3rem);
        padding: 8px 0 8px 8px;
    }

    /*FOOTER*/
    footer {
        width: 100%;
        min-width: 547px;
    }

    .footer-card h2 {
        font-size: 23px;
    }

    .footer-card a {
        font-size: 17px;
    }
}